@charset "UTF-8";
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: #f4f4f4;
}

/*Header && Navigation Bar*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  top: 0;
  position: fixed;
  z-index: 999;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.header .nav {
  max-width: 1500px;
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}

.header .nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.header .nav .nav__list .nav__item {
  position: relative;
  width: 15%;
}

.header .nav .nav__list .nav__item .nav__link {
  width: 100%;
  padding-bottom: 15px;
  font-size: 1rem;
  cursor: pointer;
}

.header .nav .nav__list .nav__item .logo {
  width: 75px;
  height: 75px;
  position: relative;
  display: inline-block;
  padding: 10px;
}

.header .nav .nav__list .nav__item .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .nav .nav__list .nav__item .search__box {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header .nav .nav__list .nav__item .search__box .search__box-input {
  width: 90%;
  height: 25px;
  float: left;
}

.header .nav .nav__list .nav__item .search__box .search__box-input input {
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  padding-right: 10px;
  font-size: 1rem;
}

.header .nav .nav__list .nav__item .catagory-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0 0 5px rgba(85, 85, 85, 0.288);
          box-shadow: 0 0 5px rgba(85, 85, 85, 0.288);
  z-index: 1;
  margin-top: 10px;
}

@media (max-width: 799px) {
  .header .nav .nav__list .nav__item .catagory-content {
    position: relative;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
  }
}

.header .nav .nav__list .nav__item .catagory-content .catagory-list {
  list-style: none;
}

@media (min-width: 800px) {
  .header .nav .nav__list .nav__item .catagory-content .catagory-list {
    min-width: 600px;
  }
}

.header .nav .nav__list .nav__item .catagory-content .catagory-list .catagory-item {
  padding: 5px;
}

@media (min-width: 800px) {
  .header .nav .nav__list .nav__item .catagory-content .catagory-list .catagory-item {
    width: 25%;
    float: left;
  }
}

.header .nav .nav__list .nav__item .catagory-content .catagory-list .catagory-item:nth-child(4n + 1) {
  clear: left;
}

.header .nav .nav__list .nav__item .catagory-content .catagory-list .catagory-item a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
}

.header .nav .nav__list .nav__item .catagory-content .catagory-list .catagory-item a:hover {
  background-color: #333;
  color: #ffffff;
}

.header .nav .nav__list .nav__item:hover .catagory-content {
  display: block;
}

.header .nav .nav__list .nav__item:first-child {
  padding-left: 20px;
}

.header .nav .nav__list .nav__item:nth-child(7) {
  padding-right: 20px;
  width: 25%;
}

@media (max-width: 799px) {
  .header .nav .nav__list .nav__item:not(:first-child) {
    display: none;
  }
}

.header .nav .nav__list .nav__item:nth-child(2) {
  width: 80%;
}

@media (max-width: 799px) {
  .header .nav .nav__list .nav__item:nth-child(2) {
    display: block;
  }
}

@media (min-width: 800px) {
  .header .nav .nav__list .nav__item:nth-child(2) {
    display: none;
  }
}

@media (max-width: 799px) {
  .header .nav .nav__list.responsive {
    max-height: 100vh;
    overflow: auto;
  }
}

.header .nav .nav__list.responsive .catagory-list {
  width: 100%;
}

@media (max-width: 799px) {
  .header .nav .nav__list.responsive .catagory-list .catagory-item {
    width: 100%;
    clear: left;
  }
}

@media (max-width: 799px) {
  .header .nav .nav__list.responsive .nav__item:not(:first-child):not(:nth-child(2)) {
    display: block;
    width: 100%;
    padding: 20px;
  }
}

@media (max-width: 799px) {
  .header .nav .nav__list.responsive .nav__item:nth-child(3) {
    border: 1px solid lightgrey;
    border-width: 1px 0px 0px 0px;
  }
}

@media (max-width: 799px) {
  .header .nav .nav__list.responsive .nav__item:nth-child(7) form {
    padding: 0;
    margin: 0;
  }
}

/*End Header*/
.container-fluid {
  width: 100%;
  padding: 0;
  margin: 0;
}

/*Main Container*/
.main-container .body-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container .banner-container {
  width: 100%;
  height: 600px;
}

.main-container .banner-container .banner {
  margin-top: 75px;
  width: 100%;
  height: 100%;
  background-image: url(../images/banner.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*End Main Container*/
/*Bình Luận*/
.chap__comment-panel {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.chap__comment-panel .comment-writing-container {
  width: 100%;
  margin-top: 20px;
}

.chap__comment-panel .comment-writing-container textarea {
  width: 100%;
  height: 120px;
  padding: 10px;
  border: 1px solid black;
  outline: none;
  border-radius: 5px;
  background-color: #f4f4f4;
  color: black;
}

.chap__comment-panel .comment-writing-container textarea::-webkit-input-placeholder {
  color: black;
}

.chap__comment-panel .comment-writing-container textarea:-ms-input-placeholder {
  color: black;
}

.chap__comment-panel .comment-writing-container textarea::-ms-input-placeholder {
  color: black;
}

.chap__comment-panel .comment-writing-container textarea::placeholder {
  color: black;
}

.chap__comment-panel .comment-list {
  list-style: none;
}

.chap__comment-panel .comment-list .comment-item {
  width: 100%;
  display: block;
  padding-bottom: 25px;
  margin-top: 25px;
  border: 1px solid #e2e2e2;
  border-width: 0px 0px 1px 0px;
}

.chap__comment-panel .comment-list .comment-item:last-child {
  border-width: 0px;
}

.chap__comment-panel .comment-list .comment-item .comment-b {
  width: 100%;
}

.chap__comment-panel .comment-list .comment-item .comment-b span {
  float: right !important;
}

.chap__comment-panel .comment-list .comment-item .comment-b:nth-child(2) {
  font-size: 14px;
}

.chap__comment-panel .comment-list .comment-item .comment-b:last-child {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chap__comment-panel .comment-list .comment-item .comment-b:last-child .comment-u-img {
  height: 50px;
  width: 50px;
  float: left;
}

.chap__comment-panel .comment-list .comment-item .comment-b:last-child .comment-u-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.chap__comment-panel .comment-list .comment-item .comment-b:last-child .comment-des {
  width: calc(100% - 50px);
  float: left;
}

.chap__comment-panel .comment-list .comment-item .comment-b:last-child .comment-des .comment-des-container {
  width: 80%;
  padding-left: 5px;
}

.chap__comment-panel .comment-list .comment-item .comment-b:last-child .comment-des .comment-des-container .comment-des-title {
  border: 1px solid #e3e2e2;
  border-width: 1px 1px 0px 1px;
  padding: 10px 5px 10px 10px;
  background-color: #f5f5f5;
}

.chap__comment-panel .comment-list .comment-item .comment-b:last-child .comment-des .comment-des-container .comment-des-title .comment-name {
  line-height: 1.2;
  font-size: 14px;
  font-weight: 700;
}

.chap__comment-panel .comment-list .comment-item .comment-b:last-child .comment-des .comment-des-container .comment-des-content {
  border: 1px solid #e3e2e2;
  font-size: 15px;
  padding: 10px 5px 10px 10px;
  line-height: 1.2;
}

/*End Bình Luận*/
/*Carousel Hình ảnh*/
.caro-body {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

.caro-body .splide {
  width: 100%;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.caro-body .splide .splide__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.caro-body .splide .splide__list .splide__slide {
  margin: 10px;
}

.caro-body .splide .splide__list .splide__slide .caro-info {
  width: 100%;
  height: auto;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.753)), to(rgba(0, 0, 0, 0.675)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.753), rgba(0, 0, 0, 0.675));
}

.caro-body .splide .splide__list .splide__slide .caro-info .caro-txt {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

/*End Carousel*/
/*Footer*/
footer {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
}

footer .footer__container {
  width: 100%;
  background-color: #e7e8ed;
  color: #66686d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px;
}

@media (max-width: 799px) {
  footer .footer__container {
    padding: 20px 10px 20px 10px;
  }
}

footer .footer__container .footer-side {
  width: 50%;
  font-size: 18px;
}

@media (max-width: 600px) {
  footer .footer__container .footer-side {
    width: 100%;
  }
}

@media (max-width: 599px) {
  footer .footer__container .footer-side:last-child {
    padding-top: 20px;
  }
}

footer .footer__container .footer-side .footer-info-list {
  list-style: none;
}

footer .footer__container .footer-side .footer-info-list .footer-info-item {
  padding-bottom: 20px;
}

footer .footer__container .footer-side .footer-info-list .footer-info-item .icon-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__container .footer-side .footer-info-list .footer-info-item .icon-box .icon-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

footer .footer__container .footer-side .footer-info-list .footer-info-item .icon-box .icon-item:first-child {
  padding: 8px;
  border-radius: 50%;
  background-color: white;
  margin-right: 10px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

footer .footer__container .footer-side .footer-info-list .footer-info-item .icon-box .icon-item span {
  font-size: 15px;
}

footer .footer__container .footer-side .footer-info-list .footer-info-item .icon-box .icon-item img {
  width: 17px;
  height: 17px;
}

footer .footer__container .footer-side .footer-content {
  width: 100%;
  padding-bottom: 20px;
}

footer .footer__container .footer-side .footer-content h5 {
  font-size: 25px;
  color: black;
}

footer .footer__container .footer-side .footer-content .f-description {
  font-size: 15px;
  line-height: 1.5;
}

/*End Footer*/
/*Chữ tràn*/
.title-overflow {
  position: relative;
  width: 100%;
  display: table;
  table-layout: fixed;
}

.title-overflow .title-overflow-content {
  display: table-cell;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.title-overflow .title-overflow-content b {
  font-size: 16px;
}

/*End Chữ tràn*/
.sticky {
  position: fixed;
  display: block;
  top: 75px;
  left: 0;
  right: 0;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#d3c5c5), to(#ad9d9d));
  background-image: linear-gradient(to top right, #d3c5c5, #ad9d9d);
  z-index: 2;
  padding: 10px;
}

/*Các button ở trang Detail Truyện*/
.btn-detail-group {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-detail-group .btn-social {
  width: 100px;
  height: 35px;
  border: none;
  color: #000000;
  border-radius: 20px;
  margin-right: 20px;
  background-color: #f4f4f4;
}

.btn-detail-group .btn-social:hover {
  background-color: #64d075;
  color: #ffffff;
}

.btn-detail-group .btn-reading {
  width: 100px;
  height: 35px;
  border: none;
  color: #ffffff;
  border-radius: 20px;
  margin-right: 20px;
  background-color: #f0ad4e;
}

.btn-detail-group .btn-reading:hover {
  background-color: #eea236;
  color: #ffffff;
}

/*End Button*/
.pagination-container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0px 0px 0px;
}

.pagination-container .pagination {
  display: block;
  position: relative;
}

.pagination-container .pagination a,
.pagination-container .pagination i {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  color: #7d7d7d;
  text-align: center;
  padding: 3px 0 2px 0;
}

.pagination-container .pagination a {
  margin: 0 5px 5px 5px;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 1px 0 0 #fff, 0 1px 2px #666;
          box-shadow: inset 0 1px 0 0 #fff, 0 1px 2px #666;
  text-shadow: 0 1px 1px #fff;
  background-color: #e6e6e6;
  height: 33px;
  width: 33px;
  font-size: 17px;
  line-height: 1.8;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pagination-container .pagination a.current {
  -webkit-box-shadow: 0 1px 1px #999;
          box-shadow: 0 1px 1px #999;
  background-color: #1d1e22;
  color: #ffffff;
}

.star img {
  height: 100%;
  padding-bottom: 5px;
  display: inline-block;
  vertical-align: middle;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-fade {
  -webkit-filter: blur(8px);
          filter: blur(8px);
}

h1 {
  font-size: 27px;
  line-height: 1.5;
}

h2 {
  font-size: 25px;
  line-height: 1.5;
}

@media (max-width: 399px) {
  h2 {
    font-size: 20px;
  }
}

h3 {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
}

/*Margin + Padding*/
.mar-bot-50 {
  margin-bottom: 50px;
}

.mar-top-20 {
  margin-top: 20px;
}

.pad-0 {
  padding: 0;
}

.pad-top-75 {
  padding-top: 75px;
}

.pad-top-10 {
  padding-top: 10px;
}

.pad-top-20 {
  padding-top: 20px;
}

.pad-bot-20 {
  padding-bottom: 20px;
}

.pad-bot-10 {
  padding-bottom: 20px;
}

.pad-bot-25 {
  padding-bottom: 25px;
}

@media (max-width: 400px) {
  .pad-bot-25 {
    padding-bottom: 10px;
  }
}

.pad-bot-10 {
  padding-bottom: 10px;
}

/*End Margin + Padding*/
.txt-italic {
  font-style: italic;
}

.border_bottom {
  border-bottom: 1px solid black;
}

.n-highL:hover {
  border-bottom: 3px solid #64d075;
}

/*Background color*/
.bg-red {
  background-color: #d92550;
}

.bg-blueAquua {
  background-color: #64C5BD;
}

.bg-orange {
  background-color: #FFA800;
}

.bg-blue {
  background-color: #3699FF;
}

.bg-purple {
  background-color: #8950FC;
}

/*End Background color*/
.nav__sidebar-fixed {
  z-index: 999;
  position: fixed;
  height: 100%;
  top: 0;
  left: -270px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #222e3c;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav__sidebar-fixed .nav__sidebar-container {
  width: 100%;
  height: 100%;
}

.nav__sidebar-fixed .nav__sidebar-container .sidebar-brand {
  font-size: 1.5rem;
  padding: 1.15rem 1.5rem;
  display: block;
  color: #f8f9fa;
}

.nav__sidebar-fixed .nav__sidebar-container .nav__bar-fixed-list {
  width: 100%;
  height: 100%;
  list-style: none;
}

.nav__sidebar-fixed .nav__sidebar-container .nav__bar-fixed-list .nav__bar-fixed-header {
  padding: 20px;
  color: yellow;
  border-top: 1px solid grey;
}

.nav__sidebar-fixed .nav__sidebar-container .nav__bar-fixed-list .nav__bar-fixed-item {
  color: grey;
  font-size: 14px;
  margin: 2px 0px;
  display: block;
}

.nav__sidebar-fixed .nav__sidebar-container .nav__bar-fixed-list .nav__bar-fixed-item .nav__bar-fixed-txt {
  padding: 18px;
  z-index: 2;
  letter-spacing: 0.2px;
  display: block;
  position: relative;
  color: #ffffff;
}

.nav__sidebar-fixed .nav__sidebar-container .nav__bar-fixed-list .nav__bar-fixed-item .nav__bar-fixed-txt.dropdown::after {
  content: "\2193";
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 10px;
}

.nav__sidebar-fixed .nav__sidebar-container .nav__bar-fixed-list .nav__bar-fixed-item .nav__bar-fixed-txt.active {
  color: #e9ecef;
  background: -webkit-gradient(linear, left top, right top, from(rgba(59, 125, 221, 0.1)), color-stop(50%, rgba(59, 125, 221, 0.0875)), to(transparent));
  background: linear-gradient(90deg, rgba(59, 125, 221, 0.1), rgba(59, 125, 221, 0.0875) 50%, transparent);
  border-left: 4px solid #3b7ddd;
}

.nav__sidebar-fixed .nav__sidebar-container .nav__bar-fixed-list .nav__bar-fixed-item .mega-menu-dropdown {
  max-height: 0px;
  overflow-y: hidden;
  -webkit-transition: max-height 0.2s ease;
  transition: max-height 0.2s ease;
}

.nav__sidebar-fixed .nav__sidebar-container .nav__bar-fixed-list .nav__bar-fixed-item .mega-menu-dropdown.enable {
  position: relative;
  overflow: hidden;
  max-height: 250px;
  -webkit-transition: max-height 0.2s ease;
  transition: max-height 0.2s ease;
  color: #ffffff;
}

.nav__sidebar-fixed .nav__sidebar-container .nav__bar-fixed-list .nav__bar-fixed-item .mega-menu-dropdown .mega-menu-subs {
  width: 100%;
  height: 100%;
  list-style: none;
}

.nav__sidebar-fixed .nav__sidebar-container .nav__bar-fixed-list .nav__bar-fixed-item .mega-menu-dropdown .mega-menu-subs .mega-menu-item {
  position: relative;
  display: block;
  height: auto;
  width: 100%;
  padding: 20px 20px 20px 40px;
}

.nav__sidebar-fixed .nav__sidebar-container .nav__bar-fixed-list .nav__bar-fixed-item .mega-menu-dropdown .mega-menu-subs .mega-menu-item::before {
  content: ".";
}

@media (min-width: 992px) {
  .toggled#page-wrapper {
    background-color: red;
    width: calc(100% - 270px);
  }
}

.toggle#nav-sidebar-fixed {
  width: 270px !important;
  height: 100%;
  left: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.toggle#page-wrapper {
  margin-left: 270px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.page__content-wrapper {
  height: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 991px) {
  .page__content-wrapper {
    width: 100%;
  }
}

.page__content-wrapper .page__content-container {
  width: 100%;
  height: 100%;
}

.page__content-wrapper .page__content-container .nav__bar-expand {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 15px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
          box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}

.page__content-wrapper .page__content-container .nav__bar-expand .nav__bar-bt-collapsed {
  z-index: 2;
  position: relative;
  display: block;
  width: 23px;
  cursor: pointer;
  height: 25px;
}

.page__content-wrapper .page__content-container .nav__bar-expand .nav__bar-bt-collapsed span {
  position: absolute;
  width: 100%;
  background-color: #5d5d5d;
  left: 0;
  height: 3px;
}

.page__content-wrapper .page__content-container .nav__bar-expand .nav__bar-bt-collapsed span:first-child {
  top: 0px;
}

.page__content-wrapper .page__content-container .nav__bar-expand .nav__bar-bt-collapsed span:nth-child(2) {
  top: 8px;
}

.page__content-wrapper .page__content-container .nav__bar-expand .nav__bar-bt-collapsed span:last-child {
  top: 16px;
}

.page__content-wrapper .page__content-container .nav__bar-expand .nav__bar-expand-list {
  width: calc(100% - 23px);
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__content-wrapper .page__content-container .nav__bar-expand .nav__bar-expand-list .nav__bar-expand-item {
  margin-left: 20px;
}

.page__content-wrapper .page__content-container .nav__bar-expand .nav__bar-expand-list .nav__bar-expand-item .admin-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__content-wrapper .page__content-container .nav__bar-expand .nav__bar-expand-list .nav__bar-expand-item .admin-info p {
  font-size: 12px;
  color: grey;
  margin: 0px 10px 0px 10px;
}

.page__content-wrapper .page__content-container .nav__bar-expand .nav__bar-expand-list .nav__bar-expand-item .admin-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f4f4f4;
  padding: 5px;
}

.page__content-wrapper .page__content-container .nav__bar-expand .nav__bar-expand-list .nav__bar-expand-item .admin-image img {
  width: 100%;
  height: 100%;
}

.page__content-wrapper .page__content-container .nav__bar-expand .nav__bar-expand-list .nav__bar-expand-item img {
  width: 25px;
  height: 25px;
}

.page__content-wrapper .page__content-container .header-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.page__content-wrapper .page__content-container .header-title .download-report-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 35px;
  background-color: #4e73de;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 13px;
  color: white;
}

.page__content-wrapper .page__content-container .header-title .download-report-btn img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.page__content-wrapper .page__content-container .row {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.page__content-wrapper .page__content-container .row .card {
  width: 25%;
}

@media (max-width: 1300px) {
  .page__content-wrapper .page__content-container .row .card {
    width: 50%;
  }
}

@media (max-width: 640px) {
  .page__content-wrapper .page__content-container .row .card {
    width: 100%;
  }
}

@media (min-width: 1301px) {
  .page__content-wrapper .page__content-container .row .card:not(:last-child) .card-body {
    margin: 0px 20px 0px 0px;
  }
}

@media (min-width: 641px) and (max-width: 1300px) {
  .page__content-wrapper .page__content-container .row .card:nth-child(odd) .card-body {
    margin: 0px 20px 0px 0px;
  }
}

.page__content-wrapper .page__content-container .row .card .card-body {
  margin-bottom: 20px;
  background-color: #ffffff;
  border-left: 0.25rem solid #4e73df;
  border-radius: 5px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0.5rem 2rem 0 rgba(58, 59, 69, 0.082);
          box-shadow: 0 0.5rem 2rem 0 rgba(58, 59, 69, 0.082);
}

.page__content-wrapper .page__content-container .row .card .card-body .gutter:first-child {
  width: 70%;
}

.page__content-wrapper .page__content-container .row .card .card-body .gutter:last-child {
  width: 30%;
  text-align: right;
}

.page__content-wrapper .page__content-container .row .card .card-body .gutter h3 {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 2;
}

.page__content-wrapper .page__content-container .row .card .card-body .gutter p {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}

.page__content-wrapper .page__content-container .row .card .card-body .gutter img {
  width: 30px;
  height: 30px;
}

.page__content-wrapper .page__content-container .timeline-container {
  width: 100%;
  padding: 0px 20px 20px 20px;
}

.page__content-wrapper .page__content-container .timeline-container .timeline-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.page__content-wrapper .page__content-container .timeline-container .timeline-wrapper .timeline-box {
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
}

@media (max-width: 640px) {
  .page__content-wrapper .page__content-container .timeline-container .timeline-wrapper .timeline-box {
    width: 100%;
  }
  .page__content-wrapper .page__content-container .timeline-container .timeline-wrapper .timeline-box:first-child {
    margin: 0px 0px 20px 0px;
  }
  .page__content-wrapper .page__content-container .timeline-container .timeline-wrapper .timeline-box:last-child {
    margin: 20px 0px 0px 0px;
  }
}

@media (min-width: 641px) {
  .page__content-wrapper .page__content-container .timeline-container .timeline-wrapper .timeline-box:first-child {
    margin: 0px 20px 0px 0px;
    width: calc(50% - 20px);
  }
  .page__content-wrapper .page__content-container .timeline-container .timeline-wrapper .timeline-box:last-child {
    margin: 0;
  }
}

.page__content-wrapper .page__content-container .timeline-container .timeline-wrapper .timeline-box .percent-box {
  width: 100%;
  height: auto;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__content-wrapper .page__content-container .timeline-container .timeline-wrapper .timeline-box .percent-box .percent-ouline {
  height: 180px;
  width: 180px;
  border: 10px solid #36cdc5;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__content-wrapper .page__content-container .timeline-container .timeline-wrapper .timeline-box .percent-box .percent-ouline h3 {
  font-size: 45px;
  color: #5e6278;
  font-weight: bold;
}

.page__content-wrapper .page__content-container .timeline-container .timeline-wrapper .timeline-box .percent-text {
  padding: 50px 20px 20px 20px;
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
}

.page__content-wrapper .page__content-container .timeline-container .timeline-wrapper .timeline-box .timeline-area {
  padding: 20px;
  overflow-y: auto;
  max-height: 400px;
}

.page__content-wrapper .page__content-container .timeline-container .timeline-wrapper .timeline-box .timeline-area .timeline {
  width: 100%;
  position: relative;
}

.page__content-wrapper .page__content-container .timeline-container .timeline-wrapper .timeline-box .timeline-area .timeline::before {
  content: " ";
  position: absolute;
  top: 10px;
  left: 85px;
  height: 100%;
  width: 4px;
  background-color: #e8ebee;
  border-radius: 10px;
}

.page__content-wrapper .page__content-container .timeline-container .timeline-wrapper .timeline-box .timeline-area .timeline .timeline-item {
  margin: 0 0 10px 0;
  position: relative;
}

.page__content-wrapper .page__content-container .timeline-container .timeline-wrapper .timeline-box .timeline-area .timeline .timeline-item .timeline-time {
  position: absolute;
  left: 0;
  top: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #3f425f;
}

.page__content-wrapper .page__content-container .timeline-container .timeline-wrapper .timeline-box .timeline-area .timeline .timeline-item .bounce-btn {
  height: 14px;
  width: 14px;
  position: absolute;
  top: 4px;
  left: 80px;
  display: block;
  border-radius: 50%;
}

.page__content-wrapper .page__content-container .timeline-container .timeline-wrapper .timeline-box .timeline-area .timeline .timeline-item .bounce-btn::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -4px 0 0 -4px;
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  border-radius: 50%;
}

.page__content-wrapper .page__content-container .timeline-container .timeline-wrapper .timeline-box .timeline-area .timeline .timeline-item .timeline-txt {
  margin-left: 120px;
  color: #b5b5c3;
  line-height: 1.5;
}

.page__content-wrapper .page__content-container .timeline-container .timeline-wrapper .timeline-box .timeline-area .timeline .timeline-item .timeline-txt.impor {
  color: black;
}

.table-container {
  width: 100%;
  padding: 20px;
}

.table-container .table-wrapper {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

.table-container .table-wrapper .table-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-container .table-wrapper .table-header .table-h-col p {
  font-size: 15px;
  width: 80px;
  line-height: 2;
}

.table-container .table-wrapper .table-header .table-h-col input {
  width: calc(100% - 80px);
  height: 35px;
  border-radius: 5px;
  outline: none;
  border: 1px solid lightgrey;
  padding: 5px;
  -webkit-box-shadow: 0 0.15rem 1rem 0 rgba(58, 59, 69, 0.15);
          box-shadow: 0 0.15rem 1rem 0 rgba(58, 59, 69, 0.15);
}

@media (max-width: 640px) {
  .table-container .table-wrapper .table-header .table-h-col:last-child {
    width: 100%;
    margin-top: 20px;
  }
  .table-container .table-wrapper .table-header .table-h-col input {
    width: 100%;
  }
}

@media (min-width: 641px) {
  .table-container .table-wrapper .table-header .table-h-col:last-child {
    width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .table-container .table-wrapper .table-header .table-h-col:first-child {
    width: calc(100% - 250px);
  }
}

.table-container .table-wrapper h4 {
  font-size: 16px;
  line-height: 2;
}

.table-container .table-wrapper h5 {
  font-size: 20px;
}

.table-container .table-wrapper .table-area {
  width: 100%;
  margin-top: 20px;
  display: block;
  overflow-x: auto;
}

.table-container .table-wrapper .table-area table {
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 2px;
  font-size: 15px;
}

.table-container .table-wrapper .table-area table thead {
  text-align: left;
  color: #3f4254;
  padding: 10px 0px 10px 0px;
}

.table-container .table-wrapper .table-area table thead th {
  background-color: #f3f6f9;
  padding: 10px 0px 10px 0px;
  border: none;
  min-width: 250px;
}

.table-container .table-wrapper .table-area table thead th:first-child {
  padding-left: 10px;
}

.table-container .table-wrapper .table-area table tbody {
  text-align: left;
  line-height: 1.5;
}

.table-container .table-wrapper .table-area table tbody td {
  padding: 10px 0px 10px 0px;
  color: #3f4254;
  margin-bottom: 20px;
  text-align: left;
}

.table-container .table-wrapper .table-area table tbody td .update-btn {
  background-color: #64d075;
  color: #ffffff;
  width: 100px;
  height: 35px;
  border: none;
  outline: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 3px;
}

.table-container .table-wrapper .table-area table tbody td .control-btn {
  background-color: #8950FC;
  color: #ffffff;
  width: 100px;
  height: 35px;
  border: none;
  outline: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 3px;
}

.table-container .table-wrapper .table-area table tbody td .image-box {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-container .table-wrapper .table-area table tbody td .image-box .image-outline {
  background-color: #f3f6f9;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  padding: 5px;
  margin-right: 10px;
}

.table-container .table-wrapper .table-area table tbody td .image-box .image-outline img {
  width: 100%;
  height: 100%;
}

.table-container .table-wrapper .table-area table tbody td .image-box p {
  font-weight: bold;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.466);
  z-index: 3;
  display: none;
}

.modal-container.enable {
  display: block;
}

.modal-container .modal-wrapper {
  width: 100%;
  height: 100%;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-container .modal-wrapper .modal-box {
  height: 100%;
  max-width: 1500px;
  background-color: white;
  overflow-y: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-container .modal-wrapper .modal-box .close-box {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
}

.modal-container .modal-wrapper .modal-box .close-box .close-btn {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 25px;
  font-weight: bold;
}

.modal-container .modal-wrapper .modal-box .modal-body {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.modal-container .modal-wrapper .modal-box .modal-body .modal-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
  position: relative;
}

.modal-container .modal-wrapper .modal-box .modal-body .modal-row:first-child {
  padding: 0;
}

.modal-container .modal-wrapper .modal-box .modal-body .modal-row:first-child .modal-col {
  height: 350px;
}

.modal-container .modal-wrapper .modal-box .modal-body .modal-row .add-chap-btn {
  height: 35px;
  width: 250px;
  background-color: #64d075;
  color: #ffffff;
  border: none;
}

.modal-container .modal-wrapper .modal-box .modal-body .modal-row .modal-col {
  width: 250px;
  margin: 10px;
}

.modal-container .modal-wrapper .modal-box .modal-body .modal-row .modal-col .modal-img {
  width: 100%;
  height: 100%;
}

.modal-container .modal-wrapper .modal-box .modal-body .modal-row .modal-col .preview_holder {
  height: 100%;
  width: 100%;
  position: relative;
}

.modal-container .modal-wrapper .modal-box .modal-body .modal-row .modal-col .preview_holder .preview {
  height: calc(100% - 75px);
  width: 100%;
  border: dotted;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-container .modal-wrapper .modal-box .modal-body .modal-row .modal-col .preview_holder .preview .preview_img {
  display: none;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-container .modal-wrapper .modal-box .modal-body .modal-row .modal-col .preview_holder .upload-btn-box {
  height: 50px;
}

.modal-container .modal-wrapper .modal-box .modal-body .modal-row .modal-col .preview_holder .upload-btn-box .file-name {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 0px 10px 0px;
}

.modal-container .modal-wrapper .modal-box .modal-body .modal-row .modal-col .preview_holder .upload-btn-box .custom-btn {
  border: none;
  background-color: #41aeec;
  padding: 10px 20px;
  width: 100%;
}

.modal-container .modal-wrapper .modal-box .modal-body .modal-row .modal-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  height: 30px;
}

.modal-container .modal-wrapper .modal-box .modal-body .modal-row .modal-info.select {
  height: auto;
}

.modal-container .modal-wrapper .modal-box .modal-body .modal-row .modal-info .info-col {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-container .modal-wrapper .modal-box .modal-body .modal-row .modal-info .info-col:first-child {
  width: 150px;
}

.modal-container .modal-wrapper .modal-box .modal-body .modal-row .modal-info .info-col:last-child {
  width: calc(100% - 150px);
}

.modal-container .modal-wrapper .modal-box .modal-body .modal-row .modal-info .info-col:last-child input,
.modal-container .modal-wrapper .modal-box .modal-body .modal-row .modal-info .info-col:last-child p, .modal-container .modal-wrapper .modal-box .modal-body .modal-row .modal-info .info-col:last-child select {
  width: 100%;
  height: 100%;
}

.modal-container .modal-wrapper .modal-box .modal-body .modal-row .modal-info .info-col:last-child input, .modal-container .modal-wrapper .modal-box .modal-body .modal-row .modal-info .info-col:last-child select {
  border: none;
  -webkit-box-shadow: 0 0.15rem 1rem 0 rgba(58, 59, 69, 0.15);
          box-shadow: 0 0.15rem 1rem 0 rgba(58, 59, 69, 0.15);
  padding: 0px 10px 0px 10px;
}

.modal-container .modal-wrapper .modal-box .modal-body .modal-row .modal-info .info-col .img-select-box {
  display: block;
  width: 100%;
  padding: 5px;
}

.modal-container .modal-wrapper .modal-box .modal-body .modal-row .modal-info .info-col .img-select-box .img-select {
  padding: 10px 0px 10px 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal-container .modal-wrapper .modal-box .modal-body .modal-row.btn-func-group {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal-container .modal-wrapper .modal-box .modal-body .modal-row.btn-func-group .btn-func {
  height: 30px;
  width: 80px;
  border: none;
  margin: 5px;
  color: #ffffff;
}
/*# sourceMappingURL=adminStyle.css.map */