@import "./func.scss";
@import "./var.scss";

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: $primaryColor;
}

/*Header && Navigation Bar*/
.header {
  @include Flex($isHorizontally: true, $isVertically: false, $isWrap: false);
  background-color: $white;
  top: 0;
  position: fixed;
  z-index: 999;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);

  .nav {
    max-width: $max-scale-width;
    @include SetWidthHeight(100%, auto);
    display: block;
    position: relative;

    .nav__list {
      display: flex;
      flex-wrap: wrap;
      align-content: stretch;
      align-items: center;
      list-style: none;

      .nav__item {
        position: relative;
        width: 15%;

        .nav__link {
          width: 100%;
          padding-bottom: 15px;
          font-size: $menu_text_size;
          cursor: pointer;
        }

        .logo {
          width: 75px;
          height: 75px;
          position: relative;
          display: inline-block;
          padding: 10px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .search__box {
          width: 100%;
          height: 100%;
          padding: 10px;
          display: flex;
          position: relative;

          .search__box-input {
            width: 90%;
            height: 25px;
            float: left;

            input {
              border: none;
              width: 100%;
              height: 100%;
              padding-right: 10px;
              font-size: $menu_text_size;

              @include noneOutLine();
            }
          }
        }

        //
        .catagory-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
          margin-top: 10px;

          a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;

            &:hover {
              background-color: #333333;
              color: $white;
            }
          }
        }

        &:hover .catagory-content {
          display: block;
        }

        &:first-child {
          padding-left: 20px;
        }

        &:nth-child(6) {
          padding-right: 20px;
          width: 25%;
        }

        &:not(:first-child) {
          @media (max-width: 799px) {
            display: none;
          }
        }

        &:last-child {
          padding-right: 20px;
          position: absolute;
          right: 0;
          top: 20px;

          @media (max-width: 799px) {
            display: block;
          }

          @media (min-width: 800px) {
            display: none;
          }
        }
      }
    }

    .nav__list.responsive {
      .nav__item:nth-child(2) {
        @media (max-width: 799px) {
          border-top: 2px solid #f4f4f4;
        }
      }
      .nav__item:not(:first-child):not(:last-child) {
        @media (max-width: 799px) {
          display: block;
          width: 100%;
          padding: 20px;
        }
      }
      .nav__item:nth-child(6) {
        form {
          @media (max-width: 799px) {
            padding: 0;
            margin: 0;
          }
        }
      }
      .catagory-content {
        @media (max-width: 799px) {
          position: relative;
          box-shadow: none;
          width: 100%;
        }
      }
    }
  }
}
/*End Header*/

.container-fluid {
  width: 100%;
  padding: 0;
  margin: 0;
}

/*Main Container*/
.main-container {
  .body-container {
    width: 100%;
    display: flex;
    height: auto;
    justify-content: center;
  }

  .banner-container {
    width: 100%;
    height: 500px;

    .banner {
      width: 100%;
      height: 100%;
      background-image: url(../images/banner.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
  }
}
/*End Main Container*/

/*Bình Luận*/
.chap__comment-panel {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

  .comment-writing-container {
    width: 100%;
    margin-top: 20px;

    textarea {
      width: 100%;
      height: 120px;
      padding: 10px;
      border: 1px solid black;
      outline: none;
      border-radius: 5px;
      background-color: $primaryColor;
      color: black;

      &::placeholder {
        color: black;
      }
    }
  }

  .comment-list {
    list-style: none;

    .comment-item {
      width: 100%;
      display: block;
      padding-bottom: 25px;
      margin-top: 25px;
      border: 1px solid #e2e2e2;
      border-width: 0px 0px 1px 0px;

      &:last-child {
        border-width: 0px;
      }

      .comment-b {
        width: 100%;

        span {
          float: right !important;
        }

        &:nth-child(2) {
          font-size: 14px;
        }

        &:last-child {
          padding-top: 20px;
          display: flex;

          .comment-u-img {
            height: 50px;
            width: 50px;
            float: left;

            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }

          .comment-des {
            width: calc(100% - 50px);
            float: left;

            .comment-des-container {
              width: 80%;
              padding-left: 5px;

              .comment-des-title {
                border: 1px solid #e3e2e2;
                border-width: 1px 1px 0px 1px;
                padding: 10px 5px 10px 10px;
                background-color: #f5f5f5;

                .comment-name {
                  line-height: 1.2;
                  font-size: 14px;
                  font-weight: 700;
                }
              }

              .comment-des-content {
                border: 1px solid #e3e2e2;
                font-size: 16px;
                padding: 10px 5px 10px 10px;
                line-height: 1.2;
              }
            }
          }
        }
      }
    }
  }
}
/*End Bình Luận*/

/*Footer*/
footer {
  width: 100%;
  height: auto;
  position: relative;
  display: block;

  .footer__container {
    width: 100%;
    background-color: #e7e8ed;
    color: #66686d;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;

    @media (max-width: 799px) {
      padding: 20px 10px 20px 10px;
    }

    .footer-side {
      width: 50%;
      font-size: 18px;

      @media (max-width: 600px) {
        width: 100%;
      }

      &:last-child {
        @media (max-width: 599px) {
          padding-top: 20px;
        }
      }

      .footer-info-list {
        list-style: none;

        .footer-info-item {
          padding-bottom: 20px;

          .icon-box {
            width: 100%;
            display: flex;
            align-items: center;

            .icon-item {
              display: flex;
              position: relative;

              &:first-child {
                padding: 8px;
                border-radius: 50%;
                background-color: white;
                margin-right: 10px;
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
              }

              span {
                font-size: 15px;
              }

              img {
                width: 17px;
                height: 17px;
              }
            }
          }
        }
      }

      .footer-content {
        width: 100%;
        padding-bottom: 20px;

        h5 {
          font-size: 25px;
          color: black;
        }

        .f-description {
          font-size: 15px;
          line-height: 1.5;
        }
      }
    }
  }
}
/*End Footer*/

/*Chữ tràn*/
.title-overflow {
  position: relative;
  width: 100%;
  display: table;
  table-layout: fixed;

  .title-overflow-content {
    display: table-cell;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    b {
      font-size: 16px;
    }
  }
}
/*End Chữ tràn*/

.sticky {
  position: fixed;
  display: block;
  top: 75px;
  left: 0;
  right: 0;
  width: 100%;
  background-image: linear-gradient(
    to top right,
    rgb(211, 197, 197),
    rgb(173, 157, 157)
  );
  z-index: 2;
  padding: 10px;
}

/*Các button ở trang Detail Truyện*/
.btn-detail-group {
  width: 100%;
  height: auto;
  display: flex;

  .btn-social {
    width: 100px;
    height: 35px;
    border: none;
    color: #000000;
    border-radius: 20px;
    margin-right: 20px;
    background-color: $primaryColor;

    &:hover {
      background-color: $green;
      color: $white;
    }
  }

  .btn-reading {
    width: 100px;
    height: 35px;
    border: none;
    color: $white;
    border-radius: 20px;
    margin-right: 20px;
    background-color: #f0ad4e;

    &:hover {
      background-color: #eea236;
      color: $white;
    }
  }
}
/*End Button*/

.pagination-container {
  @include SetWidthHeight(100%, auto);
  @include Flex($isHorizontally: true, $isVertically: false, $isWrap: false);
  margin: 20px 0px 0px 0px;

  .pagination {
    display: block;
    position: relative;

    a,
    i {
      display: inline-block;
      vertical-align: middle;
      width: 22px;
      color: #7d7d7d;
      text-align: center;
      padding: 3px 0 2px 0;
    }

    a {
      margin: 0 5px 5px 5px;
      border-radius: 50%;
      box-shadow: inset 0 1px 0 0 #fff, 0 1px 2px #666;
      text-shadow: 0 1px 1px #fff;
      background-color: #e6e6e6;
      height: 33px;
      width: 33px;
      font-size: 17px;
      line-height: 1.8;
      user-select: none;

      &.current {
        box-shadow: 0 1px 1px #999;
        background-color: #1d1e22;
        color: $white;
      }
    }
  }
}

.star {
  img {
    height: 100%;
    padding-bottom: 5px;
    display: inline-block;
    vertical-align: middle;
  }
}

.flex {
  display: flex;
}

.img-fade {
  filter: blur(8px);
}

h1 {
  font-size: 27px;
  line-height: 1.5;
}

h2 {
  font-size: 25px;
  line-height: 1.5;

  @media (max-width: 399px) {
    font-size: 20px;
  }
}

h3 {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}

.mar-bot-50 {
  margin-bottom: 50px;
}

.pad-0 {
  padding: 0;
}

.pad-top-75 {
  padding-top: 75px;
}

.pad-top-10 {
  padding-top: 10px;
}

.pad-top-20 {
  padding-top: 20px;
}

.pad-bot-20 {
  padding-bottom: 20px;
}

.pad-bot-10 {
  padding-bottom: 20px;
}

.pad-bot-25 {
  padding-bottom: 25px;

  @media (max-width: 400px) {
    padding-bottom: 10px;
  }
}

.pad-bot-10 {
  padding-bottom: 10px;
}

.txt-italic {
  font-style: italic;
}

.border_bottom {
  @include borderBottomOnly(1px, solid, black);
}

.n-highL {
  &:hover {
    border-bottom: 3px solid $green;
  }
}

.mar-top-20 {
  margin-top: 20px;
}
