@import "./func.scss";

@mixin flexCenter($direction) {
    @include Flex($isHorizontally: false, $isVertically: false, $isWrap: false);
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

header{
    @include flexCenter(column);

    background-color: $primaryColor;

    button{
        background-color: $primaryColor;
        &:hover{
            background-color: blue;
        }
    }
}