@import "./var.scss";
@import "./icon.scss";
@import "./func.scss";
@import "./general.scss";

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: $primaryColor;
}

/*Header && Navigation Bar*/
.header {
  background-color: $white;
  top: 0;
  position: fixed;
  z-index: 999;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);

  .nav {
    width: 100%;

    .nav__list {
      display: flex;
      flex-wrap: wrap;
      align-content: stretch;
      align-items: center;
      list-style: none;

      .nav__item {
        position: relative;
        width: 15%;

        .nav__link {
          width: 100%;
          padding-bottom: 15px;
          font-size: $menu_text_size;
          cursor: pointer;
        }

        .logo {
          width: 75px;
          height: 75px;
          position: relative;
          display: inline-block;
          padding: 10px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .search__box {
          width: 100%;
          height: 100%;
          padding: 10px;
          display: flex;
          position: relative;

          .search__box-input {
            width: 90%;
            height: 25px;
            float: left;

            input {
              border: none;
              width: 100%;
              height: 100%;
              padding-right: 10px;
              font-size: $menu_text_size;

              @include noneOutLine();
            }
          }
        }

        //
        .catagory-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
          margin-top: 10px;

          a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;

            &:hover {
              background-color: #333333;
              color: $white;
            }
          }
        }

        &:hover .catagory-content {
          display: block;
        }

        &:first-child {
          padding-left: 20px;
        }

        &:nth-child(6) {
          padding-right: 20px;
          width: 25%;
        }

        &:not(:first-child) {
          @media (max-width: 799px) {
            display: none;
          }
        }

        &:last-child {
          padding-right: 20px;
          position: absolute;
          right: 0;
          top: 20px;

          @media (max-width: 799px) {
            display: block;
          }

          @media (min-width: 800px) {
            display: none;
          }
        }
      }
    }

    .nav__list.responsive {
      .nav__item:nth-child(2) {
        @media (max-width: 799px) {
          border-top: 2px solid #f4f4f4;
        }
      }
      .nav__item:not(:first-child):not(:last-child) {
        @media (max-width: 799px) {
          display: block;
          width: 100%;
          padding: 20px;
        }
      }
      .nav__item:nth-child(6) {
        form {
          @media (max-width: 799px) {
            padding: 0;
            margin: 0;
          }
        }
      }
      .catagory-content {
        @media (max-width: 799px) {
          position: relative;
          box-shadow: none;
          width: 100%;
        }
      }
    }
  }
}
/*End Header*/

/*Main Container*/
.main-container {
  margin-top: 75px;

  .banner-container {
    width: 100%;
    height: 500px;

    .banner {
      width: 100%;
      height: 100%;
      background-image: url(../images/banner.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
  }

  .body-container {
    width: 100%;
    height: auto;
    padding-top: 50px;

    .body-cover {
      width: 100%;
      height: 100%;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      display: flex;
      flex-wrap: wrap;

      .body-left-side {
        width: 66.66666667%;

        &.right-padding {
          padding-right: 5px;

          @media (max-width: 999px) {
            padding: 0 0 25px 0;
          }
        }

        @media (max-width: 999px) {
          width: 100%;
        }
      }
      .body-right-side {
        width: 33.33333333%;

        &.left-padding {
          padding-left: 5px;

          @media (max-width: 999px) {
            padding: 0 0 25px 0;
          }
        }

        @media (max-width: 999px) {
          width: 100%;
        }
      }

      .body-box {
        width: 100%;
        height: 100%;
        background-color: $white;
        border-radius: 8px;

        .title-header {
          height: 65px;
          width: 100%;
          padding: 20px;

          .btn-group {
            width: 100%;
            height: 100%;
            display: flex;

            .gr-btn {
              height: 100%;
              width: 33.33%;
              display: flex;
              justify-content: center;
              align-items: center;

              &:first-child {
                padding-right: 5px;
              }
              &:last-child {
                padding-left: 5px;
              }

              .btn {
                height: 100%;
                width: 100%;
                outline: none;
                border: none;
                border-radius: 20px;
                background-color: inherit;
                padding: 2px;
                font-size: 13px;
                text-align: center;

                &.active {
                  background-color: $green;
                  color: $white;
                }
              }
            }
          }
        }

        .body__list-container {
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 20px;
          width: 100%;
          height: auto;

          .list-area {
            width: 100%;
            height: 100%;
            display: flex;
            margin-bottom: 20px;

            .list-item {
              width: 25%;
              height: 100%;
              display: block;
              padding: 5px;

              .image-box {
                height: 250px;
                width: 100%;

                .image-link {
                  img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 3px;
                  }
                }
              }
            }

            .list_info {
              position: relative;
              display: block;
              width: 100%;
              margin-top: 10px;

              .newest-chapters {
                width: 100%;
                margin-top: 10px;

                a {
                  margin-bottom: 5px;
                  display: flex;

                  span {
                    font-size: 12px;
                    flex-direction: column;
                    line-height: 1.5;
                  }

                  span:first-child {
                    text-align: left;
                  }

                  span:last-child {
                    color: #c0c4d1;
                    text-align: right;
                    position: absolute;
                    right: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
/*End Main Container*/
