$primaryColor: #f4f4f4;
$black: #000000;
$white: #ffffff;
$green: #64d075;
$blue: #0815c9;

$bold_style: bold;

$menu_text_size: 1rem;
$title_header_size: 1.2rem;
$title_img_size: 1rem;
$text_img_size: 0.8rem;
$text_chap_size: 0.2rem;

$max-scale-width: 1300px;