.modal-container .modal-wrapper .modal-outline {
    width: 100%;
    @media (max-width:426px) {
        height: 70%;
    }
    position: relative;
    margin-left: auto;
    margin-right: auto;

    .modal-box .modal-body .modal-row .modal-info label {
        @media (max-width:769px) {
            padding-left: 15px;
        }
    }

    .modal-box .modal-body .modal-row .modal-info .info-col:first-child  {
        @media (min-width: 769px) {
            width: 200px;
        }
        
    }

    .modal-box .modal-body .modal-row .modal-info .info-col:last-child {
        @media (min-width: 769px) {
            width: calc(100% - 200px);
        }  
    }
    
}