.list-item{
    list-style: none;
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    padding: 7px;
    .item_ls{
        @media (max-width:1920px) and (min-width:1024px) {
            width: 50%;  
        }
        @media (max-width:1024px) and (min-width:360px) {
            width: 100%; 
        }
        position: relative;
        padding: 5px;
        .item_a:first-child {
            .table-image{
                position: relative;
                width: 100%;
                height: 307px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: relative;
                    border-radius: 5px;
                }
            }
            @media (max-width:1920px) and (min-width:768px){
                width: 30%;
                padding-right: 20px;
            }

            @media (width:540px) {
                width: 50%;
                padding-right: 20px;
            }
            @media (max-width:425px) and (min-width:280px) {
                width: 100%;
            }
            float: left;
            
        }
    
        .item_a:last-child {
            @media (max-width:1920px) and (min-width:768px) {
                width: calc(70% - 15px);
                position: absolute;
                right:0;
                bottom:0;
            }
            @media (max-width:425px) and (min-width:320px) {
                width: 100%;
                padding: 5px;
            }
            height: auto;
            float: left;
            display: flex;
            align-items: center;
            .table-info {
                width: 100%;
                height: auto;
                font-size: 14px;
                div {
                    padding-bottom: 5px;
                    label {
                        font-size: 20px;
                        font-weight: 600;
                    }

                    span{
                        font-size: 18px;
                        &.status{
                            font-style: italic;
                            color: gray;
                        }
                    }
                    button{
                        @media (max-width:1920px) and (min-width:1024px) {
                            width: 23%;
                        }

                        @media (max-width:425px) and (min-width:280px) {
                            width: 45%;
                        }
                    }
                }
            }
        } 
    }
}


.update-btn {
    background-color: #64d075;
    color: #ffffff;
    width: 100px;
    height: 35px;
    border: none;
    outline: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 3px;
}


