.containner__login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.container__cover {
    width: 80%;
    border-radius: 2rem;
    box-shadow: 0 0 15px rgb(184, 184, 184);
}

.container__cover--block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container__side {
    width: 50%;
    flex-direction: column;
    flex: 1 auto;
    text-align: center;
    padding: 1.5rem;
}

.container__side:first-child {
    background-color: #ffb31b;
    color: white;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.container__side:last-child {
    background-color: white;
    color: black;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.form__content {
    width: 100%;
    margin-bottom: 1rem;
}

/*Các icon mạng xã hội*/

.form__social--group {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__social--group ul {
    list-style: none;
    display: flex;
}

.form__social--group ul li {
    width: 100%;
    height: 100%;
}

.form__social--group ul li button {
    border: none;
    height: 3rem;
    width: 3rem;
    font-size: 1.2rem;
    margin: 0.25rem;
    font-weight: 700;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19), 0 1px 3px rgba(0, 0, 0, 0.23);
}

.form__social--group ul li button:hover {
    box-shadow: -2px 4px 5px rgba(0, 0, 0, 0.19), 0 5px 3px rgba(0, 0, 0, 0.23);
}

/*End icon*/

/*Form input*/

.form__input--group {
    width: 100%;
}

.form__input {
    display: block;
}

.form__input input {
    height: 3rem;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 20px;
    margin-bottom: 1rem;
    padding-left: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19), 0 1px 3px rgba(0, 0, 0, 0.23);
}

.form__input input:hover {
    box-shadow: -2px 4px 5px rgba(0, 0, 0, 0.19), 0 2px 3px rgba(0, 0, 0, 0.23);
}

.form__input input::placeholder {
    color: #7e7d7d;
}

.form__input button {
    height: 2.5rem;
    width: 10rem;
    border: none;
    outline: none;
    border-radius: 20px;
    margin-bottom: 1rem;
    padding-left: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19), 0 1px 3px rgba(0, 0, 0, 0.23);
}

.form__input .orange {
    background-color: #FFAC00;
    color: white;
}

.form__input button:hover {
    box-shadow: -2px 4px 5px rgba(0, 0, 0, 0.19), 0 5px 3px rgba(0, 0, 0, 0.23);
}

/*End Form input*/

@media screen and (min-width: 769px) and (max-width: 1125px) {
    .container__cover{
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .container__side {
        min-width: 100%;
    }
    .container__cover{
        width: 90%;
    }
    .container__side:first-child {
        border: none;
        border-radius: 0rem;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
    }
    .container__side:last-child {
        border: none;
        border-radius: 0rem;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }
}