*, *:after, *:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: var(--white);
    background-color: var(--pink);
    background: linear-gradient(90deg, #6747d1 29px, transparent) center, linear-gradient(#6747d1 29px, transparent) center, var(--white);
    background-size: 30px 30px;
}

:root {
    --white: #ffffff;
    --pink: #6747d1;
    --pink-transparent: #6747d100;
    --dark: black;
    --text-size: 20px;
}

.wrapper {
    max-width: 160rem;
    margin: 0 auto;
    height: 100%;
}

.background__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--pink-transparent);
    z-index: 0;
}

input::placeholder {
    color: var(--white);
}

i {
    cursor: pointer;
}

/*Header*/
.header {
    display: flex;
    justify-content: center;
}

.nav {
    padding: 1rem;
    width: 100%;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    list-style: none;
}

.nav__item {
    padding: 1rem;
    position: relative;
}

.nav__item:nth-child(1) {
    width: 15%;
}
.nav__item:nth-child(2) {
    width: 65%;
}
.nav__item:nth-child(3) {
    width: 10%;
}
.nav__item:nth-child(4) {
    width: 10%;
}

.nav__search__group {
    width: 100%;
}

.nav__search__group .search {
    width: 90%;
    float: left;
    border: none;
    outline: none;
    height: 30px;
    font-size: 15px;
    color: var(--text);
    background-color: transparent;
    border-bottom: 1px solid var(--white);
}

.nav__search__group i {
    height: 30px;
    font-size: var(--text-size);
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--white);
    color: var(--bg-light);
    padding: 5px;
}

.nav__link {
    position: relative;
    display: block;
    text-transform: none;
    color: var(--white);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
}

.nav__link:nth-child(5) {
    font-size: var(--text-size);
    color: var(--white);
}
/*End Header*/


/*Side nav*/
.side__nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: var(--white);
    overflow: hidden;
    transition: 0.5s;
}

.side__nav a {
    text-decoration: none;
    font-size: var(--text-size);
    color: #818181;
    display: block;
    transition: 0.3s;
}

.side__nav a:hover {
    color: var(--dark);
}


/*Top Header*/
.side__header {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    padding: 1rem;
    color: var(--dark);
    background-color: whitesmoke;
}

.side__header-block:nth-child(1) {
    width: 95%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 18px;
}

.side__header-block:nth-child(2) {
    width: 5%;
}

.side__nav .close__btn {
    font-size: 30px;
}


/*Block Content*/
.side__body {
    color: var(--dark);
    width: 100%;
    height: 100%;
}

.side__body ul {
    list-style: none;
    height: 100%;
    overflow: auto;
    padding: 0;
    margin: 0;
}

.side__body .side_content_seperator {
    height: 1px;
    width: 100%;
    background-color: #D5DBDB;
}

.side__body ul li {
    margin-top: 0.65rem;
    margin-bottom: 0.65rem;
    transition: 0.3s;
}

.side__body ul li a {
    display: flex;
    font-size: 15px;
    padding: 1rem;
}

.side__body ul li a:hover {
    background-color: #EAEDED;
}

.side__body ul li h1 {
    padding: 1rem;
}

.side__body ul li div {
    width: 95%;
}

.side__body ul li i {
    width: 5%;
}
/*End Side Nav*/


/*Fluid Container*/
.container-fluid{
    margin: 0;
    padding: 0;
}


/*Side Container*/
.side__container {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: red;
}

#side__nav-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/*Danh sách truyện*/
.list__grid {
    margin-top: 2rem;
    padding-left: 1.8rem;
    padding-right: 0.8rem;
    color: var(--dark);
}

.list__grid--header{
    width: 100%;
    font-size: 15px;
    color: var(--white);
}

/*ul*/
.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

/*li*/
.cards__item{
    display: flex;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 22px 40px -22px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem;
}

/*ul*/
.card__des{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

/*li*/
.card__chap{
    display: flex;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    width: 50%;
}

.card__chap a{
    width: 100%;
}

.card__chap:nth-child(odd) a{
    text-align: left;
    color: #55acee;
}

.card__chap:nth-child(even) a{
    text-align: right;
    color: #f99a0c;
}

.card__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(.43, .41, .22, .91);
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.card__image .card__image--detail{
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: var(--white);
    padding-left: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.card__image .card__image--detail i span{
    padding-left: 0.25rem;
}

.card__title {
    color: grey;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 18px;
}

.card__text {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
}

.card__image--fence {
    background-image: url(../images/chester-wade.jpg);
}

.card__image--flowers {
    background-image: url(../images/fabien-bazanegue.jpg);
}

.card__image--river {
    background-image: url(../images/julie.jpeg);
}

.card__image--record {
    background-image: url(../images/mark-finn.jpg);
}

/*End Container*/

/*Responsive Query*/

@media(min-width: 40rem) {
    .cards__item {
        width: 50%;
    }
    .card__image {
        padding-top: 8rem;
    }
}

@media(min-width: 56rem) {
    .cards__item {
        width: 25%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1125px) {
    .nav__item:nth-child(1) {
        width: 20%;
    }
    .nav__item:nth-child(2) {
        width: 50%;
    }
    .nav__item:nth-child(3) {
        width: 15%;
    }
    .nav__item:nth-child(4) {
        width: 15%;
        padding: 0;
        padding-left: 1rem;
    }
    .nav__search__group .search {
        width: 80%;
    }

    
    .cards__item {
        width: 33.3333%;
    }
}

@media screen and (min-width: 361px) and (max-width: 638px) {
    .cards__item {
        width: 50%;
    }
}

@media screen and (max-width: 360px) {
    .cards__item {
        width: 100%;
    }
}

@media screen and (min-width: 769px) {
    .nav__item:last-child {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .nav {
        width: 100%;
    }
    .nav__list {
        padding-top: 0.45rem;
    }
    .nav__item:not(last-child) {
        display: none;
    }
    .nav__item:first-child {
        display: block;
    }
    .nav__item:last-child {
        position: absolute;
        right: 1rem;
        display: block;
    }
    .nav__item:last-child i{
        font-size: 25px;
    }
}