*, *:after, *:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: var(--white);
    background-image: linear-gradient(180deg, #9A23E9 0%, #8f17df 100%) !important;
}

:root {
    --white: #ffffff;
    --pink: #6747d1;
    --pink-transparent: #6747d100;
    --dark: black;
    --dark-brown: #1A1B1F;
    --yellow: yellow;
    --dark-yellow: #ffb20a;
    --text-size: 20px;
}

/*Gọi class này bên chang-theme.js để đổi chế độ tối*/
.dark-mode{
    background-image: linear-gradient(180deg, #232123 0%, #1A191A 100%) !important;
    --dark-brown: var(--white);
}

.wrapper {
    max-width: 160rem;
    margin: 0 auto;
    height: 100%;
}

input::placeholder {
    color: var(--white);
}

i {
    cursor: pointer;
}

/*Header*/

.header {
    display: flex;
    justify-content: center;
}

.nav {
    padding: 1rem;
    width: 100%;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    list-style: none;
}

.nav__item {
    padding: 1rem;
    position: relative;
}

/*Button toggle đổi màu nền*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch input:checked+.slider {
    background-color: var(--dark-yellow);
    color: var(--white);
}

.switch input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

.switch input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*End Button toggle đổi màu nền*/

.nav__item:nth-child(1) {
    width: 15%;
}

.nav__item:nth-child(2) {
    width: 55%;
}

.nav__item:nth-child(3) {
    width: 10%;
}

.nav__item:nth-child(4) {
    width: 10%;
}

.nav__item:nth-child(4) {
    width: 10%;
}

.nav__search__group {
    width: 100%;
}

.nav__search__group .search {
    width: 90%;
    float: left;
    border: none;
    outline: none;
    height: 30px;
    font-size: 15px;
    color: var(--text);
    background-color: transparent;
    border-bottom: 1px solid var(--white);
}

.nav__search__group i {
    height: 30px;
    font-size: var(--text-size);
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--white);
    color: var(--bg-light);
    padding: 5px;
}

.nav__link {
    position: relative;
    display: block;
    text-transform: none;
    color: var(--white);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
}

.nav__link:nth-child(5) {
    font-size: var(--text-size);
    color: var(--white);
}

/*End Header*/

/*Side nav*/

.side__nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: var(--white);
    overflow: hidden;
}

.side__nav a {
    text-decoration: none;
    font-size: var(--text-size);
    color: #818181;
    display: block;
    transition: 0.3s;
}

.side__nav a:hover {
    color: var(--dark);
}

/*Top Header*/

.side__header {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.side__form{
    display: block;
    width: 100%;
    padding: 1rem;
    color: var(--dark);
    background-color: whitesmoke;
}

.side__form:nth-child(1){
    width: 100%;
    display: flex;
}

.side__form .nav__link .search{
    width: 90%;
    border-bottom: 1px solid grey;
}

.side__form .nav__link i{
    border-bottom: 1px solid grey;
}

.side__form .nav__link .search::placeholder{
    color: grey;
}

.side__nav .side__form:nth-child(2){
    display: none;
} 

.side__form:nth-child(1) .side__header-block:nth-child(1) {
    width: 93%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 18px;
}

.side__form:nth-child(1) .side__header-block:nth-child(2) {
    width: 7%;
}

.side__nav .close__btn {
    font-size: 30px;
}

/*Block Content*/

.side__body {
    color: var(--dark);
    width: 100%;
    height: 100%;
}

.side__body ul {
    list-style: none;
    height: 100%;
    overflow: auto;
    padding: 0;
    margin: 0;
}

.side__body .side_content_seperator {
    height: 1px;
    width: 100%;
    background-color: #D5DBDB;
}

.side__body ul li {
    margin-top: 0.65rem;
    margin-bottom: 0.65rem;
    transition: 0.3s;
}

.side__body ul li a {
    display: flex;
    font-size: 15px;
    padding: 1rem;
}

.side__body ul li a:hover {
    background-color: #EAEDED;
}

.side__body ul li h1 {
    padding: 1rem;
}

.side__body ul li div {
    width: 95%;
}

.side__body ul li i {
    width: 5%;
}

/*End Side Nav*/

/*Side Container*/

.side__container {
    margin: 0;
    padding: 0;
    width: 100%;
}

#side__nav-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/*End Container*/

/*Fluid Container*/

.container-fluid {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}

.container__cover {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    display: flex;
}

.container__box:first-child {
    width: 70%;
    float: left;
}

.container__box:last-child {
    width: 30%;
    float: left;
}

/*Side Bar*/

.side__bar {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 100%;
}

.side__bar--block {
    display: inline-block;
    position: relative;
    width: 100%;
}

.side__bar--group {
    padding: 0;
    margin: 0;
    margin-top: 0.5rem;
}

/*Lịch sử đọc truyện*/

.hist__list {
    list-style: none;
}

.hist__item {
    display: block;
    position: relative;
    margin-bottom: 2rem;
    width: 100%;
}

.hist__block {
    display: flex;
    width: 100%;
    height: 5rem;
}

.hist__block .hist__inside:first-child {
    width: 30%;
}

.hist__block .hist__inside:last-child {
    width: 70%;
}

.hist__inside .hist__image--block {
    margin: 0;
    padding: 0;
}

.hist__image--block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hist__inside .hist_block--inside {
    position: relative;
    padding-left: 1rem;
    width: 100%;
    height: 100%;
}

.hist_block--inside .hist__block--title {
    position: absolute;
    top: 0.25rem;
}

.hist_block--inside .hist__block--des {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0.25rem;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    display: flex;
}

.hist__des--content {
    flex-direction: column;
    flex: 1 auto;
}

.hist__des--content:last-child {
    text-align: right;
    padding-left: 0.5rem;
}

.hist__des--content:last-child span {
    padding-left: 0.15rem;
}

/*Tab group*/

.tabs {
    width: 100%;
    display: flex;
}

.tabs .tabs--link {
    height: 2.5rem;
    flex: 1 auto;
    background-color: inherit;
    border: none;
    font-size: 14px;
    background: linear-gradient(to bottom, #ffd79d, #ffd79d);
    color: #320d3e;
    cursor: pointer;
    outline: none;
}

.tabs--link:not(:last-child) {
    border-right: 1px solid black;
}

.tabs button span {
    padding-left: 0.2rem;
}

.tabs button:hover {
    background: linear-gradient(to bottom, #553620, #2e1d11);
    color: var(--white);
    border-right: none;
}

.tabs__group {
    padding: 0;
    margin: 0;
}

.tabs__list {
    list-style: none;
    margin-top: 2rem;
}

.tab__item {
    width: 100%;
    margin-bottom: 2.5rem;
}

.tab {
    height: auto;
    color: black;
    display: flex;
}

.tab__block {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-size: 16px;
    padding-right: 1rem;
}

.tab__des--center {
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    color: var(--white);
}

.tab_block--inside {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.tab__image {
    position: relative;
    display: inline-block;
    filter: contrast(90%);
    height: 5rem;
    width: 100%;
}

.tab__image--block {
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    width: 100%;
}

.tab__image--block img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    object-fit: cover;
}

.tab__block--title {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 0.15rem;
    color: var(--white);
}

.tab__block--des {
    position: absolute;
    bottom: 0.15rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.tab__des--content {
    flex: 1;
    flex-direction: column;
    width: 50%;
    color: var(--white);
}

.tab__des--content:last-child {
    text-align: right;
}

.tab__block:not(:first-child) {
    width: 30%;
}

.tab__block:last-child {
    width: 60%;
    padding: 0;
}

.tab__block:first-child {
    width: 10%;
}

/*Danh sách truyện*/

.list__grid {
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
}

.list__grid--header {
    width: 100%;
    margin: 0;
    padding: 0;
}

.list__grid--title {
    font-size: 15px;
    padding-left: 0.25rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    color: var(--white)
}

/*ul start*/

.star__group {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

.star__group li {
    color: #FFD900;
}

/*ul*/

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

/*li*/

.cards__item {
    display: inline-block;
    min-width: 25%;
    flex: 1;
    padding: 0.5rem;
}

.card {
    background-color: var(--white);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15), 0 5px 10px rgba(0, 0, 0, 0.14);
}

.card__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem;
}

/*ul*/

.card__des {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

/*li*/

.card__chap {
    display: flex;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    width: 50%;
}

.card__chap a {
    width: 100%;
}

.card__chap:nth-child(odd) a {
    text-align: left;
    color: #55acee;
}

.card__chap:nth-child(even) a {
    text-align: right;
    color: #f99a0c;
}

.card__image {
    filter: contrast(90%);
    position: relative;
    display: inline-block;
    height: 12rem;
}

.card__image--block {
    position: absolute;
    top: 0;
    bottom: 0;
}

.card__image--block img {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    object-fit: cover;
}

.card__image .card__image--detail {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: var(--white);
    padding-left: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.card__image .card__image--detail i span {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.card__title {
    color: grey;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 18px;
}

.card__text {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
}

/*Pages Navigation*/

.pages__nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.pages__nav-container {
    width: 100%;
}

.pages__nav-container ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.pages__nav-container ul li {
    display: flex;
    flex-direction: column;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    line-height: 2.3rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    border: 2px solid #d3d3d5;
    text-align: center;
    vertical-align: middle;
    position: relative;
    color: var(--dark-yellow);
    cursor: pointer;
}

.pages__nav-container ul li:not(:first-child):not(:last-child):hover {
    background-color: var(--dark-brown);
    border: 2px solid var(--dark-brown);
}

.pages__nav-container ul li:first-child, .pages__nav-container ul li:last-child {
    border: 2px solid var(--yellow);
    background-color: var(--yellow);
    color: #1A1B1F;
}

.pages__nav-container ul li:first-child:hover, .pages__nav-container ul li:last-child:hover {
    color: var(--white);
    border: 2px solid var(--dark-yellow);
    background-color: var(--dark-yellow);
}

/*End Container Fluid*/

/*Space*/
.small-space{
    display: block;
    width: 100%;
    height: 0.5rem;
}

/*Responsive Query*/

@media screen and (min-width: 993px) and (max-width: 1125px) {
    .tab__block {
        min-width: 40%;
    }
    .tab__block:first-child {
        min-width: 15%;
    }
    .tab__block--des {
        position: relative;
        padding-top: 1rem;
    }
    .tab__des--content {
        margin-top: 1rem;
        width: 100%;
    }
    .tab .tab__image {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .tab__des--content:last-child {
        text-align: left;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .tab__image {
        height: 4rem;
    }
    .tab__block:first-child {
        width: 5%;
    }
    .tab__block:not(:first-child) {
        width: 10%;
    }
    .tab__block:last-child {
        width: 85%;
        padding: 0;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .tab__image {
        height: 4rem;
    }
    .tab__block:first-child {
        width: 10%;
    }
    .tab__block:not(:first-child) {
        width: 15%;
    }
    .tab__block:last-child {
        width: 75%;
        padding: 0;
    }
}

@media screen and (min-width: 480px) and (max-width: 599px) {
    .tab__image {
        height: 4rem;
    }
    .tab__block:first-child {
        width: 10%;
    }
    .tab__block:not(:first-child) {
        width: 15%;
    }
    .tab__block:last-child {
        width: 75%;
        padding: 0;
    }
}

@media screen and (max-width: 380px) {
    .tab__image {
        height: 4rem;
    }
    .tab__block:first-child {
        width: 15%;
    }
    .tab__block:not(:first-child) {
        width: 50%;
    }
    .tab__des--content {
        width: 100%;
    }
    .tab__des--content:last-child {
        text-align: left;
        margin-top: 0.25rem;
    }
    .tab__block:last-child {
        width: 60%;
        padding: 0;
    }
}

@media screen and (max-width: 992px) {
    .container__cover {
        display: block;
        position: relative;
    }
    .container__box:first-child, .container__box:last-child {
        min-width: 100%;
        float: none;
    }
    .list__grid {
        margin-right: 1rem;
    }
    .side__bar {
        margin: 1.5rem;
    }
    .pages__nav-container ul li {
        margin-top: 0.5rem;
        max-width: 3rem;
    }
    .hist__block .hist__inside:first-child {
        width: 5rem;
    }
    .hist__block .hist__inside:last-child {
        width: 90%;
    }
}

@media(min-width: 40rem) {
    .card__image {
        padding-top: 8rem;
    }
}

@media screen and (max-width: 320px){
    .nav__search__group{
        margin: 0;
        padding: 0;
        display: flex;
        width: 100%;
    }
    .nav__search__group form{
        width: 100%;
    }
    .nav__search__group .search {
        width: 100%;
        flex: 1 auto;
        flex-direction: column;
    }
    .nav__search__group i{
        flex: 1 auto;
        width: 10%;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px){
    .nav__item:nth-child(4) {
        display: block;
        width: 85%;
        padding-left: 2rem;
        display: flex;
        justify-content: center;
    }
    .side__nav .side__form:nth-child(2){
        display: block;
    } 
}

@media screen and (min-width: 769px) and (max-width: 1125px) {
    .nav__item:nth-child(1) {
        width: 20%;
    }
    .nav__item:nth-child(2) {
        width: 40%;
    }
    .nav__item:nth-child(3) {
        width: 15%;
    }
    .nav__item:nth-child(5) {
        width: 15%;
        padding: 0;
        text-align: right;
    }
    .nav__search__group .search {
        width: 80%;
    }
    .cards__item {
        width: 33.3333%;
    }
}

@media screen and (min-width: 361px) and (max-width: 768px) {
    .cards__item {
        flex: 1 1 auto;
        width: 50%;
    }
    .list__grid {
        padding: 0.15rem;
    }
}

@media screen and (max-width: 360px) {
    .cards__item {
        flex: 1 1 auto;
        width: 100%;
    }
}

@media screen and (min-width: 769px) {
    .nav__item:last-child {
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 1125px) {
    .cards__item {
        flex: 1 1 auto;
        max-width: 33.3333%;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .nav {
        width: 100%;
    }
    .nav__list {
        padding-top: 0.45rem;
    }
    .nav__item:not(last-child) {
        display: none;
    }
    .nav__item:first-child {
        display: block;
    }
    .nav__item:last-child {
        position: absolute;
        right: 1rem;
        display: block;
    }
    .nav__item:last-child i {
        font-size: 25px;
    }
}


@media screen and (max-width: 480px) {
    .list__grid {
        margin: 0;
        padding: 0;
    }
    .side__bar {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin: 0;
    }
    .nav {
        width: 100%;
        padding-left: 0.5rem;
    }
    .nav__list {
        padding-top: 0.45rem;
    }
    .nav__item:not(last-child) {
        display: none;
    }
    .nav__item:first-child {
        display: block;
        padding: 0;
    }
    .nav__item:last-child {
        position: absolute;
        right: 0rem;
        display: block;
    }
    .nav__item:last-child i {
        font-size: 25px;
    }
}